<div class="container-fluid bg-light p-3 my-3 rounded-3" id="tabcontainer"></div>

<script>
const diplayTab = new gridjs.Grid({
    columns: ["Name", "Country", "Nb of assets", "Nb of helpdesk", "Registration date", "Comment"],
    pagination: {
        limit: 20
    },
    search: true,
    sort: true,
    data: [
        {% for reference in references %}
        ["{{ reference.name }}", "{{ reference.country }}", "{{ reference.num_assets }}", "{{ reference.num_helpdesk }}", "{{ reference.registration_date }}", "{{ reference.comment }}"],
        {% endfor %}
    ]
}).render(document.getElementById("tabcontainer"));
</script>

