<div class="page-header d-print-none">
    <div class="container-xl mt-1">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="pre-title">{{ nb_ref }} users already registered their GLPI installations</div>
                <div class="page-title">References</div>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <a class="btn btn-primary d-none d-sm-inline-block" href="{{ path('app_reference_register')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Register your GLPI instance
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-xl mt-2" id="tabcontainer"></div>

<script>
window.addEventListener("DOMContentLoaded", (event) => {
    const translator = new Intl.DisplayNames(['en'], {type: 'region'});
    const namesMap = new Map();
    const diplayTab = new gridjs.Grid({
        columns: [
            {
                name: "Name",
                formatter: (cell, row) => {
                    const url = row.cells[6].data;
                    const name = cell;
                    try {
                        new URL(url);
                        return gridjs.h(
                            'a',
                            {
                                href: url,
                                target: '_blank',
                            },
                            name
                        );
                    } catch (e) {
                        return name;
                    }
                }
            },
            {
                name: "Country",
                formatter: (cell, row) => {
                    if (!namesMap.has(cell)) {
                        namesMap.set(cell, translator.of(cell.toUpperCase()));
                    }
                    return gridjs.html(`<span class="fi fi-${cell}" title="${namesMap.get(cell)}"></span>`);
                },
                sort: {
                    compare: (a, b) => {
                        if (!namesMap.has(a)) {
                            namesMap.set(a, translator.of(a.toUpperCase()));
                        }
                        if (!namesMap.has(b)) {
                            namesMap.set(b, translator.of(b.toUpperCase()));
                        }
                        return namesMap.get(a).localeCompare(namesMap.get(b));
                    }
                },
            },
            "Nb of assets",
            "Nb of helpdesk",
            "Registration date",
            "Comment",
            {
                name: "URL",
                hidden: true,
            },
        ],
        pagination: {
            limit: 20
        },
        search: true,
        sort: true,
        data: [
            {% for reference in references %}
            [
                {{ reference.name|json_encode|raw }},
                "{{ reference.country }}",
                {% if reference.glpireference.numAssets is defined %}
                {{ reference.glpireference.numAssets|json_encode|raw }},
                {% else %}
                0,
                {% endif %}
                {% if reference.glpireference.numHelpdesk is defined %}
                {{ reference.glpireference.numHelpdesk|json_encode|raw }},
                {% else %}
                0,
                {% endif %}
                "{{ reference.createdAt|date("Y-m-d") }}",
                {{ reference.comment|json_encode|raw }},
                {{ reference.url|json_encode|raw }},
            ],
            {% endfor %}
        ]
    }).render(document.getElementById("tabcontainer"));
});
</script>
