{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/styles/reference.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/reference.js') }}" defer></script>
{% endblock %}

{% block body_content %}
<div class="container-xl py-4">
    <div class="card">
        <div class="card-body default-size" id="map_graph"></div>
    </div>

    <div class="mt-4">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-title">References</div>
                <div class="page-subtitle">{{ references|length }} users already registered their GLPI installations</div>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <a class="btn btn-primary d-none d-sm-inline-block" href="{{ path('app_reference_register') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Register your GLPI instance
                </a>
            </div>
        </div>
    </div>

    <div id="references-table-container"></div>
</div>
{% set referenceData = [] %}
{% for reference in references %}
    {% set referenceData = referenceData|merge([[
        reference.name,
        reference.country,
        reference.glpireference.numAssets|default(0),
        reference.glpireference.numHelpdesk|default(0),
        reference.createdAt|date("Y-m-d"),
        reference.comment,
        reference.url,
    ]]) %}
{% endfor %}
<script>
    window.referenceData = {{ referenceData|json_encode|raw }};
</script>
{% endblock %}
