<div class="modal modal-blur fade" id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Register your instance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            {{ form_start(form, {'attr': {'id': 'reference_form'}}) }}
              <div class="mb-3">
                {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.url, 'URL', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.country, 'Country', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.country, {'attr': {'class': 'form-select'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.phone, 'Phone', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.referent, 'Referent', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.referent, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.nb_assets, 'Number of assets', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.nb_assets, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.nb_helpdesk, 'Number of helpdesk', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.nb_helpdesk, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_label(form.comment, 'Comment', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_row(form.comment, {'attr': {'class': 'form-control'}}) }}
              </div>
        </div>
      </div>
      <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
            Register
          </button>
      </div>
            {{ form_end(form) }}
    </div>
  </div>
</div>
