<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}GLPI Telemetry{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/styles/app.css') }}" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        {% set flashes = app.flashes() %}
        {% if flashes is not empty %}
            <div class="container container-tight my-4">
                {% for type, messages in flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block body_content %}
        {% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
