{% extends 'base.html.twig' %}

{% block title %}Telemetry - {{ parent() }}{% endblock %}

{# Disable automatic page view, they will be simulated when filter value is initialized/changed #}
{% block google_analytics_send_page_view %}false{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/dashboard.js') }}" defer></script>
{% endblock %}

{% block body_content %}
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-title">Telemetry</div>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="form-floating">
                    <select class="form-select" id="dataPeriod" aria-label="select data period">
                        {% for period_filter in period_filters %}
                            <option value="{{ period_filter.value }}">{{ period_filter.getLabel() }}</option>
                        {% endfor %}
                    </select>
                    <label for="dataPeriod">
                        Select :
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl mt-4">
        <div class="row row-deck row-cards">
            {% set chart_series = [
                constant('App\\Telemetry\\ChartSerie::GlpiVersion'),
                constant('App\\Telemetry\\ChartSerie::PhpInfos'),
                constant('App\\Telemetry\\ChartSerie::OsFamily'),
                constant('App\\Telemetry\\ChartSerie::WebEngine'),
                constant('App\\Telemetry\\ChartSerie::InstallMode'),
                constant('App\\Telemetry\\ChartSerie::DbEngine'),
                constant('App\\Telemetry\\ChartSerie::TopPlugin'),
                constant('App\\Telemetry\\ChartSerie::DefaultLanguage'),
            ] %}
            {% for chart_serie in chart_series %}
                <div class="{{ chart_serie.getChartType() == constant('App\\Telemetry\\ChartType::MonthlyStackedBar') ? 'col-lg-6' : 'col-sm-6 col-lg-4' }}"
                    data-chart-serie="{{ chart_serie.value }}"
                    data-chart-type="{{ chart_serie.getChartType().value }}"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
